*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}
body{
	font-size: 15px;
	width: 100%;
	height: 100%;
	background-color: #ebebeb;
	position: relative;
	z-index: -1;
}
@font-face{
	font-family: f1;
	src: url(fontstyle/字魂24号-镇魂手书.ttf);
}
@font-face{
	font-family: f2;
	src: url(fontstyle/字魂49号-逍遥行书.ttf);
}
@font-face{
	font-family: f3;
	src: url(fontstyle/字魂55号-龙吟手书.ttf);s
}
@font-face{
	font-family: f5;
	src: url(fontstyle/字魂47号-三分行楷.ttf);s
}
#body{
	width: 100%;
	position: relative;
	z-index: -1;
}
#body_main{
	position: relative;
	z-index: -1;
}
              /*--西安logo--*/
.card{
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 1;
    width:69px;
    height:84px;
    color:#013243;
    margin-left: -150px;
    margin-top:-200px;
    background-color:#e0e1dc;
    transform-style: preserve-3d;
	perspective: 2000px;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 20px 0 60px rgba(0, 0, 0, .5);
	transition: 1s;
	border-radius: 5px;
}
.card:hover{
    transform:rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}
.card .imgBox{
    width:100%;
    height:100%;
    position: relative;
    transform-origin: left;
	transition: .7s;
}
.card .bark {
    position: absolute;
    background: #e0e1dc;
    width: 100%;
    height: 100%;
    opacity: 0;
	transition: .7s;
}
.card .imgBox img {
   width:70px;
   height: 90px;
   border-radius: 5px;
}
.card:hover .imgBox {
    transform: rotateY(-135deg);
}
.card:hover .bark {
    opacity: 1;
    transition: .6s;
    box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
	margin-top: 5px;
}
.card .details h4{
    font-size:26px;
    line-height:40px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
.card .details p {
    font-size: 15px;
    line-height: 15px;
    transform: rotate(-10deg);
    padding: 0 20px;
}
/* 主页 */
.page{
	width: 100%;
	height: 980px;
	position: relative;
	background-size: 100% 100%;
	overflow: hidden;
	background-image: url(images/大背景.png);
}
#homepage{
	animation: slide 25s ease-in-out infinite alternate;

}
@Keyframes slide{
	0%{
		background: url(images/主页4.jpg) no-repeat; 
		background-size: 100% 980px;
	}
	25%{
		background: url(images/主页3.jpg) no-repeat; 
		background-size: 100% 980px;
	}
	50%{
		background: url(images/主页1.jpg) no-repeat; 
		background-size: 100% 980px;
	}
	75%{
		background: url(images/主页5.jpg) no-repeat; 
		background-size: 100% 980px;
	}
	100%{
		background: url(images/主页4.jpg) no-repeat; 
		background-size: 100% 980px;
	}
}
.word{
	width: 300px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: 250px;
	font-family: f2;
}
@keyframes fade-in1{  
    0%{ opacity: 0;margin-top: 330px;}
	100%{opacity:1;margin-top: 150px;}
}
@keyframes fade-in2{  
    0%{ opacity: 0;margin-top: -50px;}
	100%{opacity:1;margin-top: 130px;}
}
@keyframes fade-in3{  
    0%{ opacity: 0;margin-left: -400px;}
	100%{opacity:1;margin-left: 0px;}
}
.word_1{
	display: inline-block;
	height: 500px;
	width: 100px;
	color: rgba(255,255,255,0.9);
	font-size: 80px;
	float: left;
	opacity: 0;
	animation: fade-in3 4s ease 0s 1; 
	 animation-fill-mode:forwards;
}
.word_2,.word_3{
	display: inline-block;
	width: 50px;
	font-size: 30px;
	color: rgba(255,255,255,0.8);
	float: left;
	opacity: 0;
	font-family: f3;
}
.word_2{
	margin-left: 20px;
	animation: fade-in2 4s ease 2.9s 1; 
	animation-fill-mode:forwards;
}
.word_3{
	animation: fade-in1 4s ease 3.9s 1; 
	animation-fill-mode:forwards;
}
#page3{      
	background-image: url(images/图1s.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	transition: all 0.8s;
	animation:ssc 4s ease 0s 1; 
	animation-fill-mode:forwards;
}
@keyframes ssc{  
    0%{ background-image: url(images/图1s.png);}
	100%{background-image: url(images/图1.png);}
}
.page{
	overflow: hidden;
}
.page h3{
	width: 100%;
	height: 80px;
	margin-top: 50px;
	line-height: 80px;
	font-size: 60px;
	text-align: center;
	color: rgb(103,61,63);
	font-family: f1;
}
.title{
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0px;
	left: 0;
	overflow: hidden;
	margin-top: 50px;
}
.title_left{
	position: absolute;
	width: 40%;
	left: 0;
	top: 0px;
	height: 80px;
	background-position: 290px 10px;
	background-repeat: no-repeat;
	background-image: url(images/title2_2_96af218.png);
	animation: subsumed_left 2s ease-in-out;
}
.title_right{
	position: absolute;
	width: 40%;
	right: 0;
	top: 0px;
	height: 80px;
	background-position: 0px 10px;
	background-repeat: no-repeat;
	background-image: url(images/title2_2_96af217.png);
	animation: subsumed_right 2s ease-in-out;
}
@Keyframes subsumed_left{
	0%{transform: translateX(-100%);}
	100%{transform: translateX(0);}
}
@Keyframes subsumed_right{
	0%{transform: translateX(100%);}
	100%{transform: translateX(0);}
}
@keyframes appear_accordion{
	0%{
		margin-left: 2000px;
	}
	100%{
		margin-left: 220px;
	}
}
#page4{
	z-index: -1;
}
section{
	z-index: -1;
	position: relative;
}
.accordion{
	width: 1450px;
	height: 500px;
	margin: 50px auto;
	overflow: hidden;
	animation: appear_accordion 1.5s ease-out;
}
.accordion > ul{
	width: 200%;
	height: 100%;
	cursor: pointer;
}
.accordion > ul li{
	width: 10%;
	height: 100%;
	transition: all 1.5s;
	float: left;
	box-shadow: 0px 0px 30px rgba(1,1,1,.4);
} 
.characters{
	position: absolute;
	right: 0;
	top: 0;
	padding: 30px 50px;
	width: 610px;
	height: 440px;
	background-color: rgba(1,1,1,.5);
	z-index: -1;
}
.characters p{
	width: 100%;
	text-indent: 2em;
	color: rgba(255,255,255,0.7);
	font-size: 24px;
	font-family: f5;
	margin:30px 0px;
}
.accordion > ul li{
	-webkit-background-size: 290px 100%;
	background-size: 290px 100%;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.accordion > ul li:nth-child(1){
	background-image: url(images/张骞.jpg);
}
.accordion ul:hover li{
	width: 112.5px;
}
.accordion > ul li:hover{
	width: 1000px;
}
.accordion > ul li:nth-child(2){
	background-image: url(images/玄奘.jpg);
}
.accordion > ul li:nth-child(3){
	background-image: url(images/秦始皇.jpg);
}
.accordion > ul li:nth-child(4){
	background-image: url(images/司马迁.jpg);
}
.accordion > ul li:nth-child(5){
	background-image: url(images/蒙恬.jpg);
}
.bottom_bar{
	position: absolute;
	width: 100%;
	height: 180px;
	/*background-color: #abcdef;*/
	bottom: 0;
	left: 0;
}
.bottom_bar > p{
	position: absolute;
	width: 1300px;
	left: 50%;
	top: 0px;
	margin-left: -650px;
	height: 0;
	border: 2.5px solid rgba(103,61,62,.3);
}
.bottom_bar > p:nth-child(2){
	width: 1000px;
	left: 50%;
	top: 50px;
	margin-left: -500px;
	height: 0;
}
@Keyframes three{
	0%{
		width: 800px;
	}
	60%{
		width: 1500px;
	}
	65%{
		transform: translateX(0px);
		width: 1500px;
	}
	100%{
		transform: translateX(800px);
		width: 1500px;
	}
}
.page6_main{
	width: 1450px;
	height: 700px;
	position: relative;
	margin: 50px auto;
	-webkit-perspective: 2000;
	background-color: #ccc;
	/*-webkit-perspective-origin: left right;*/
	cursor: pointer;
}
.content{
	font-size: 30px;
	color: transparent;
	font-family: f5;
	transition: color 1.5s ;
}
.content:hover{
	color: rgba(225,225,225,.8);
}
.special_main_content_1>.content>p{
	display: inline-block;
	margin: 30px 20px;
}
.special{
	position: absolute;
	width: 650px;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	transition: .5s linear;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.special_2{
	width: 800px;
	height: 50%;
	top: 0px;
	left: 650px;
}
.special_3{
	width: 400px;
	height: 50%;
	top: 350px;
	left: 650px;
}
.special_4{
	width: 400px;
	height: 50%;
	top: 350px;
	left: 1050px;
}
.special_1:hover{
	transform: rotateY(30deg);
}
.special_2:hover{
	transform: rotateY(-15deg);
}
.special_3:hover{
	transform: rotateY(10deg);
}
.special_4:hover{
	transform: rotateY(-10deg);
}
.special_main{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -650px;
	-webkit-transform:transition3d(0,0,0);
	animation: three 2s ease-out 1.5s forwards; 
	background-color: rgb(89,173,80);
	background-image: url(images/秦腔2.jpg);
	-webkit-background-size: 650px 100%;
	background-size: 650px 100%;
	background-position: left center;
	background-repeat: no-repeat;
	transition: .3s linear;
}
.special_main:hover{
	-webkit-background-size: 715px 110%;
	background-size: 715px 110%;
}
.special_main_content_1{
	width: 650px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(1,1,1,0);
	transition: .3s linear;
}
.special_main:hover .special_main_content_1{
	background-color: rgba(1,1,1,.7);
}
.special_main_2{
	left: -800px;
	-webkit-background-size: 800px 100%;
	background-size: 800px 100%;
	background-color: rgb(250,250,250);
	animation: three_2 2s ease-out 1.5s forwards;
	background-image: url(images/社火.png);
}
.special_main_2:hover{
	-webkit-background-size: 880px 110%;
	background-size: 880px 110%;
}
.special_main_content_2{
	width: 800px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(1,1,1,0);
	transition: .3s linear;
}
 .special_main:hover .special_main_content_2{
	background-color: rgba(1,1,1,.7);
} 
.special_main_3{
	left: -400px;
	-webkit-background-size: 400px 100%;
	background-size: 400px 100%;
	background-color: rgb(209,178,174);
	animation: three_3 2s ease-out 1.5s forwards;
	background-image: url(images/皮影.png);
}
.special_main_4{
	left: -400px;
	-webkit-background-size: 400px 100%;
	background-size: 400px 100%;
	background-color: rgb(212,100,1);
	animation: three_3 2s ease-out 1.5s forwards;
	background-image: url(images/龙灯.jpg);
}
.special_main_3:hover,
.special_main_4:hover{
	-webkit-background-size: 440px 110%;
	background-size: 440px 110%;
}
.special_main_content_3,
.special_main_content_4{
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(1,1,1,0);
	transition: .3s linear;
}
.special_main:hover .special_main_content_3,
.special_main:hover .special_main_content_4{
	background-color: rgba(1,1,1,.7);
}
.shu{
	width: 30px;
	height: 700px;
	position: absolute;
	top: 0;
	left: 0;
	animation: down .5s linear 1s forwards;
	transform: translateY(-700px);
	background-color: rgb(89,173,80);
} 
.shu_2,
.shu_3,
.shu_4{
	width: 30px;
	height: 100%;
	animation: down_2 .5s linear 1s forwards;
	background-color: rgb(250,250,250);
}
.shu_3{
	background-color: rgb(209,178,174);
}
.shu_4{
	background-color: rgb(212,100,1);
}
@Keyframes down{
	0%{
		transform: translateY(-700px);
	}
	100%{
		transform: translateY(0);
	}
}
@Keyframes down_2{
	0%{
		transform: translateY(-400px);
	}
	100%{
		transform: translateY(0);
	}
}
@Keyframes three{
	0%{
		width: 650px;
	}
	40%{
		width: 1300px;
		transform: translateX(0px);
	}
	100%{
		transform: translateX(650px);
		width: 1500px;
	}
}
@Keyframes three_2{
	0%{
		width: 800px;
	}
	40%{
		width: 1600px;
		transform: translateX(0px);
	}
	100%{
		transform: translateX(800px);
		width: 1600px;
	}
}
@Keyframes three_3{
	0%{
		width: 400px;
	}
	40%{
		width: 800px;
		transform: translateX(0px);
	}
	100%{
		transform: translateX(400px);
		width: 800px;
	}
}
@Keyframes appear{
	0%{
		margin-top: 1000px;
	}
	100%{
		margin-top: 0px;
	}
}
.wrapper{
     width:100%;
     height: 900px;
     box-sizing:border-box;
	 padding:50px;
	 animation:appear 1.5s ease-out;
}
.left,
.middle,
.right{
    position: relative;
    width:33%;
    height:100%;
    float: left;
	border-radius: 10px;
	cursor: pointer;
}
.left{
    transform-origin: 100% 50%;
    transform: rotateY(180deg);
    z-index:20;
	transition:0.7s ease-in-out;
}
.right{
    transform-origin: 0% 50%;
    transform: rotateY(-180deg);   
	transition:0.7s ease-in-out;
	box-shadow: 20px 5px 50px #000;
	z-index: 1;
}
.left .cover,
.left .back{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    border-radius: 10px;
}
.left .cover{
    transform: rotateY(180deg);
    z-index:5;
}
.left .back{
    background-color: #abcdef;
    z-index: 4;
}
.sectionWrap {
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box; 
    background-image: url(images/基督教.jpg);
    -webkit-background-size: 100% 100%;
    background-size: 600px 800px;
	background-repeat: no-repeat; 
	
}
.sectionWrap_w{
	margin-top: 30px;
	margin-left: 80px;
}
.sectionWrap_w>p{
	font-size: 30px;
	color: rgba(255,255,255,0.7);
	font-weight: 500;
	font-family: f5;
}
.content_left,.content_middle,.content_right{
	height: 700px;
	width: 500px;
}
.content_left>p,.content_middle>p,.content_right>p{
	font-size: 27px;
	color: transparent;
	display: inline-block;
	margin: 10px;
	font-family: f5;
	transition: all 1s;
	margin-top: 600px;
}
.contents{
	padding: 50px;
	margin: -40px -40px;
	transition: all 0.5s;
}
.contents:hover{
	background-color: rgba(0, 0, 0, 0.7);
}
.contents:hover.content_left>p,.contents:hover.content_middle>p,.contents:hover.content_right>p{
	color: rgba(255,255,255,0.8);
	margin-top: 20px;
}
.buddhism{
    background-image: url(images/佛教图片.jpeg);
}
.Taoism{
	background-image: url(images/基督教.jpg);
}
.Christian{
	background-image: url(images/道教.jpg);
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    line-height: 1;
    color: RGBA(255,255,255,0.9);
}
hr {
    border: 1px solid white;
    width: 300px;
    margin: 12px 0 8px 1px;
    text-align: left;
}
.openB{
    background-color: rgba(0, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 5px;
    position: absolute;
    min-width: 120px;
    max-width: 150px;
    z-index: 50;
    right: 20px;
    bottom: 30px;
    font-weight: 400;
    font-size: 1em;
    opacity: .7;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.openB:hover {
    background-color: rgb(27,168,245);
    color: white;
    transition: .2s ease-in-out;
}
.closeB {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 50;
    width: 50px;
    font-size: 1.5em;
    cursor: pointer;
    height: 50px;
    top: 0;
    right: 0;
    transition: .2s ease-in-out;
	border-radius:10px;
}
.closeB:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
}
.left.open {
    transform-origin: 100% 50%;
    transform: rotateY(0deg);
    transition: .7s ease-in-out;
}
.right.open {
    transform-origin: 0% 50%;
    transform: rotateY(0deg);
	transition: .7s ease-in-out;
	z-index: 1;
}
.back.open {
    z-index: 10;
 }
 .poems_left{
	margin-left: 100px;
 	width: 300px;
 	height: 800px;
 	position: absolute;
 	top: 180px;
 	left: 100px;
 	z-index: 0;
	 overflow: hidden;
	 margin-top: 50px;
 }
 .poems_right{
	 margin-right: 100px;
 	width: 300px;
 	height: 800px;
 	position: absolute;
 	top: 180px;
 	right: 100px;
 	z-index: 0;
	 overflow: hidden;
	 margin-top: 50px;
 }
 .poems_left > p{
 	float: left;
 	width: 50px;
 	text-align: center;
 	font-size: 30px;
 	font-family: f3;
	color: rgba(74,59,36, 0.7);
 	transform: translateY(800px);
 }
 .poems_right > p{
 	float: right;
 	width: 50px;
 	text-align: center;
 	font-size: 30px;
 	font-family: f3;
 	color: rgba(74,59,36, 0.7);
 	transform: translateY(800px);
 }
 .poems_left > p:nth-child(1),
 .poems_right > p:nth-child(1){
 	animation: raise_1 1s ease-out .5s forwards;
 }
 @Keyframes raise_1{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(2),
 .poems_right > p:nth-child(2){
 	animation: raise_2 1.5s linear 1s forwards;
 	transform: translateY(-800px);
 }
 @Keyframes raise_2{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(3),
 .poems_right > p:nth-child(3){
 	animation: raise_3 1s ease-out 1.5s forwards;
 }
 @Keyframes raise_3{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(4),
 .poems_right > p:nth-child(4){
 	animation: raise_4 1.5s linear 2s forwards;
 	transform: translateY(-800px);
 }
 @Keyframes raise_4{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(5),
 .poems_right > p:nth-child(5){
 	animation: raise_5 1s ease-out 2.5s forwards;
 }
 @Keyframes raise_5{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(6),
 .poems_right > p:nth-child(6){
 	animation: raise_6 1.5s linear 3s forwards;
 	transform: translateY(-800px);
 }
 @Keyframes raise_6{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(7),
 .poems_right > p:nth-child(7){
 	animation: raise_7 1s ease-out 3.5s forwards;
 }
 @Keyframes raise_7{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(8),
 .poems_right > p:nth-child(8){
 	animation: raise_8 1.5s linear 4s forwards;
 	transform: translateY(-800px);
 }
 @Keyframes raise_8{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(9),
 .poems_right > p:nth-child(9){
 	animation: raise_9 1s ease-out 4.5s forwards;
 }
 @Keyframes raise_9{
 	100%{transform: translateY(0);}
 }
 .poems_left > p:nth-child(10),
 .poems_right > p:nth-child(10){
 	animation: raise_10 1.5s ease-in-out 4.7s forwards;
 	transform: translateY(-800px);
 }
 @Keyframes raise_10{
 	100%{transform: translateY(0);}
 }
 @keyframes appear_a{
	 0%{
		 color: transparent;
	 }
	 100%{
		color: rgba(255,255,255,0.6);
	}
 }
 @keyframes appear_a_red{
	0%{
		color: transparent;
	}
	100%{
	   color: rgb(140,100,60);
   }
}
 #page3>a{
	color: transparent;
	font-size: 100px;
	font-family: f2;
	display: block;
	position: absolute;
	bottom: 300px;
	left: 50%;
	margin-left: -550px;
	width: 1100px;
	text-align: center;
 }
 #page3>a>p{
	animation: appear_a 7s 2s 1;
	animation-fill-mode:forwards;
	text-align: left;
 }
.page3_5{
	animation: appear_a_red 7s 2.5s 1;
	font-size: 300px;
	animation-fill-mode:forwards;
}
.page3_6{
	animation: appear_a_red 7s 3s 1;
	font-size: 300px;
	animation-fill-mode:forwards;
}
.page3_7{
	animation: appear_a_red 7s 3.5s 1;
	font-size: 300px;
	animation-fill-mode:forwards;
}
.content7{
    position: relative;
    width: 1600px;
    height: 600px;
    margin: 100px auto;
}
.l-pic-index{
	/*display:none;*/
    position: absolute;
    left: 700px;
    top: 2px;
    z-index:2;
    width:100px;
    height:800px;
	background: url("images/j1.png") no-repeat right 0;
	background-size: 100% 100%;
}
.r-pic-index{
	/*display:none;*/
    position: absolute;
    right: 700px;
    top: 0;
    z-index: 2;
    width:100px;
    *width:82px;
    height:800px;
	background: url("images/j4.png") no-repeat left 0;
	background-size: 100% 100%;
}
.l-bg-index{
    position: absolute;
    top: -3px;
    left: 775px;
    z-index: 1;
    width: 25px;
    height: 800px;
	background: url("images/j2.png") right 0 no-repeat;
	background-size: 800px 100%;
}
.r-bg-index{
    position: absolute;
    top:-3px;
    right: 775px;
    z-index: 1;
    width: 25px;
    height: 800px;
	background: url("images/j3.png") left 0 no-repeat;
	background-size: 800px 100%;
}
.main-index{
    display: none;
    overflow: hidden;
    zoom:1;
    position: absolute;
    z-index: 5;
    width:1400px;
    height:500px;
    left:120px;
    top:126px;
    color: #2e2e2e;
}
#leave_word div{
	height: 50px;
	width: 500px;
	margin-top: 50px;
	margin-left: 50px;
	position: relative;
}
label{
	font-size: 50px;
	font-family: f2;
}
#name,#email,#phone{
	width: 300px;
	height:40px;
	border: 2px solid rgba(0, 0, 0, 0.247);;
	border-radius: 10px;
	background: transparent;
	outline: none;
	font-size: 30px;
	font-family: f5;
	font-weight: 1000;
	margin-left: 20px;
	position: absolute;
	top: 8px;
}
#male,#female{
	width: 30px;
	height: 30px;
	margin-left: 30px;
}
#words_div{
	position: absolute;
	top: -400px;
	left: 550px;;
}
#leave_words{
	height: 300px;
	width: 600px;
	border: 2px solid rgba(0, 0, 0, 0.247);;
	border-radius: 10px;
	background: transparent;
	outline: none;
	font-size: 30px;
	font-family: f5;
	font-weight: 1000;
	vertical-align:top;
	outline:none;
}
.button{
	top: -100px;
	left: 400px;;
}
.btn{
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.384);
	height: 50px;
	width: 200px;
	outline: none;
	font-size: 30px;
	font-family: f1;
	border-radius: 10px;
	cursor: pointer;
}
.btn:hover{
	background-color: rgba(0, 0, 0, 0.219);
}